<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/437dd328-91c1-4c35-b322-3eb35f904c03/resourceGroups/FazekasrEroforras/providers/Microsoft.ApiManagement/service/PiacAPIfr/apis/echo-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/437dd328-91c1-4c35-b322-3eb35f904c03/resourcegroups/FazekasrEroforras/providers/Microsoft.Web/sites/PiacListaAPIfr</ResourceId>
    <ResourceGroup>FazekasrEroforras</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://piaclistaapifr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1779dea6-2a49-4e84-86f3-29824e931a1a</ProjectGuid>
    <PublishUrl>https://piaclistaapifr.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PiacListaAPIfr</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>